/* Satoshi font-face */
@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi_Complete/Satoshi-Regular.otf') format('opentype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi_Complete/Satoshi-Medium.otf') format('opentype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi_Complete/Satoshi-Bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

/* Integral CF font-face */
@font-face {
  font-family: 'Integral CF';
  src: url('../fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

:root {
  --font-family: "Satoshi", sans-serif;
  --second-family: "Integral CF", sans-serif;
}
