.footer {
    background: #f0f0f0;
    padding: 140px 0 88px 0;
    &__top {
        display: none;
        justify-content: space-between;
        border-radius: 20px;
        padding: 36px 64px;
        width: 100%;
        background: black;
        &__left {
            padding: 7px 0;
            h2 {
                font-family: var(--second-family);
                font-weight: 700;
                font-size: 40px;
                line-height: 112%;
                color: #fff;
            }
        }
        &__right {
            form {
                display: flex;
                flex-direction: column;
                row-gap: 14px;
            }
            &__input {
                display: flex;
                align-items: center;
                column-gap: 14px;
                border-radius: 62px;
                padding: 12px 16px;
                width: 349px;
                height: 48px;
                background: white;
                img {
                    margin-top: 2px;
                }
                input {
                    outline: none;
                    border: none;
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    color: rgba(0, 0, 0, 0.4);
                }
            }
            button {
                border-radius: 62px;
                padding: 12px 16px;
                width: 349px;
                height: 46px;
                font-family: var(--font-family);
                font-weight: 500;
                font-size: 16px;
                color: #000;
            }
        }
    }
    &__bottom {
        &__main {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 50px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            &__info {
                h3 {
                    font-family: var(--second-family);
                    font-weight: 700;
                    font-size: 33px;
                    color: #000;
                }
                p {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 157%;
                    color: rgba(0, 0, 0, 0.6);
                    margin: 25px 0 35px 0;
                }
                &__social {
                    display: flex;
                    column-gap: 12px;
                    &__item {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        border-radius: 50%;
                        width: 28px;
                        height: 28px;
                        background: white;
                    }
                    &__item:nth-child(2) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: black;
                    }
                }
            }
            &__navigation {
                h4 {
                    font-family: var(--font-family);
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 112%;
                    letter-spacing: 0.19em;
                    text-transform: uppercase;
                    color: #000;
                    margin-bottom: 26px;
                }
                ul {
                    height: 133px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    li {
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 119%;
                        color: rgba(0, 0, 0, 0.6);
                    }
                }
            }
        }
        &__copyright {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            p {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 14px;
                text-align: right;
                color: rgba(0, 0, 0, 0.6);
            }
            &__payments {
                display: flex;
                column-gap: 12px;
                align-items: center;
                &__item {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 46.61px;
                    height: 30.03px;
                    border: 0.25px solid #D6DCE5;
                    border-radius: 5px;
                    fill: #fff;
                    border: 0.22px solid #d6dce5;
                    box-shadow: 0 0px 4px 0 rgba(183, 183, 183, 0.08), 0 4px 9px 0 rgba(183, 183, 183, 0.08);
                }
            }
        }
    }
}


